<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Address</h4>
                <ul>
                    <li>
                       <p> <i class="fa-solid fa-location-dot" aria-hidden="true"></i> <a><br>Nikola Tesla 75 <br>Sijarinska banja</a></p>
                    </li>
                
                </ul>
            </div>
            <div class="footer-col">
                <h4>Information</h4>
                <ul>
                    <li>
                        <p><i class="far fa-clock" aria-hidden="true"></i> <a> 24/7 </a> </p>

                    </li>
                    <li>
                        <p><i class="fas fa-mobile-alt" aria-hidden="true"></i> <a> (+381) 62 808 26 80 </a> </p>

                    </li>
                    <li>
                        <p><i class="fas fa-mobile-alt" aria-hidden="true"></i> <a> (+381) 60 655 04 35 </a> </p>

                    </li>
                    <li>
                        <p><i class="far fa-envelope" aria-hidden="true"></i><a href="mailto:draganagaganikolic73@gmail.com" target="_blank">draganagaganikolic73@gmail.com</a></p>

                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="">aaaaaaaaa</a></li>
                    <li><a href="">aaaaaaaaa</a></li>
                    <li><a href="">aaaaaaaaa</a></li>
                    <li><a href="">aaaaaaaaa</a></li>
                    <li><a href="">aaaaaaaaa</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>folow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/profile.php?id=100063582579750&locale=sr_RS"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/sijarinska_banja_gaga/"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/?lang=sr"><i class="fab fa-twitter"></i></a>
                  
                </div>
            </div>
        </div>
    </div>
</footer>