<div class="navtabs-container" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
<nav mat-tab-nav-bar fxFlex fxLayout fxLayoutAlign="center center">
    
    <a mat-tab-link routerLink="/" 
    routerLinkActive #home="routerLinkActive" 
    [active]="home.isActive" >
    {{ "Home" | translate }}
    </a>
<!-- Ovde smo koristili Nested menu iz angular material -->
<a mat-tab-link routerLink="/accomodation" routerLinkActive 
#accomodation="routerLinkActive" 
[active]="accomodation.isActive" class="acmd"> 
 <!-- <button mat-button [matMenuTriggerFor]="menu">Accomodation</button>
  <mat-menu #menu="matMenu">
  <button mat-menu-item>rooms</button>
  <button mat-menu-item>apartement</button>  
  </mat-menu>-->
<button mat-tab-link [matMenuTriggerFor]="acmdt" class="acc"> {{ "Accommodation" | translate }}</button>
<mat-menu #acmdt="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="rooms" >{{ "Rooms"|  translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="apartments" >{{ "Apartments"| translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="logcabin">{{ "Log cabin" | translate }}</button>
</mat-menu>
<mat-menu #rooms="matMenu">
  <button mat-menu-item routerLink="/single" >{{ "Single room" | translate }}</button>
  <button mat-menu-item routerLink="/double" >{{ "Double room" | translate }}</button>
</mat-menu>
<mat-menu #apartments="matMenu">
  <button mat-menu-item routerLink="/studio" >{{ "Studio apartmens" | translate }}</button>
</mat-menu>
<mat-menu #logcabin="matMenu">
  <button mat-menu-item routerLink="/logCabin" >{{ "Attic log cabin" | translate }}</button>
  <button mat-menu-item routerLink="/logCabin" >{{ "First floor log cabin" | translate }}</button>
</mat-menu>

</a>
    <a mat-tab-link routerLink="/gallery" 
    routerLinkActive #gallery="routerLinkActive" 
    [active]="gallery.isActive">
  {{ "Image gallery" | translate}}
    </a>

    <a mat-tab-link routerLink="/contact" 
    routerLinkActive #contact="routerLinkActive" 
    [active]="contact.isActive">
   {{ "Contact us" | translate }}
    </a>

    <a mat-tab-link routerLink="/offers" 
    routerLinkActive #offers="routerLinkActive" 
    [active]="offers.isActive">
    {{ "Aboutt Spa" | translate}}
    </a>
</nav>
</div>
