.toolbar-flex{
    flex: 1 0.5 auto;
}
/* #212121; */
.navtabs-container{
    font-style: italic;
    /* background-image: linear-gradient(to top, #282834, #2a3842 );  */
    width: 100%;
    background-color: #2c2c2c;
    font-size: 28px;
}
.navtabs-container a{
    font-size: 26px;
}

.navtabs-container .acc{
    font-size: 26px;
    color: rgb(64, 139, 224);
}

/* kada je fiksiran meni */
.fixed{
    position: fixed;
    width: 100%;
    height: 60px;
    font-size: 25px;
    transition: 0.2s linear;
    top: 0px;
    /* top:163px;  ukoliko hocu zajedno sa heder komponentom da fiksiram meni.... */
    z-index: 1200;
    background-color: rgb(255, 229, 190);
}
.nofixed{
    position: static;
    transition: 0.2s linear;
    top: -50px;
}
.mat-mdc-tab-nav-bar{
    --mat-tab-header-inactive-label-text-color:#2382f7!important;
}


