<div class="navtabs-container">
<nav mat-tab-nav-bar fxFlex fxLayout fxLayoutAlign="center center">
    
    <a mat-tab-link routerLink="/" 
    routerLinkActive #home="routerLinkActive" 
    [active]="home.isActive">
    Home
    </a>

    <!-- Ovde smo koristili Nested menu iz angular material -->
    <a mat-tab-link routerLink="/accommodation" routerLinkActive 
    #accomodation="routerLinkActive" 
    [active]="accomodation.isActive" class="acmd"> 
     <!-- <button mat-button [matMenuTriggerFor]="menu">Accomodation</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>rooms</button>
      <button mat-menu-item>apartement</button>  
    </mat-menu>-->
    
<button mat-button [matMenuTriggerFor]="acmdt"> Accommodation</button>
<mat-menu #acmdt="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="rooms" routerLink="/rooms" color="primary">Rooms</button>
  <button mat-menu-item [matMenuTriggerFor]="apartments">Apartments</button>
  <button mat-menu-item>Log cabin</button>
</mat-menu>
<mat-menu #rooms="matMenu">
  <button mat-menu-item>Single room</button>
  <button mat-menu-item>Double room</button>
  <button mat-menu-item>Queen room</button>
</mat-menu>
<mat-menu #apartments="matMenu">
  <button mat-menu-item>Studio apartmens</button>
  <button mat-menu-item>Micro apartments</button>
</mat-menu>
    </a>
    




    <a mat-tab-link routerLink="/foodbeverage" 
    routerLinkActive #foodbeverage="routerLinkActive" 
    [active]="foodbeverage.isActive">
    Food &amp; beverage
    </a>

    <a mat-tab-link routerLink="/lifestyle" 
    routerLinkActive #lifestyle="routerLinkActive" 
    [active]="lifestyle.isActive">
    Lifestyle
    </a>

    <a mat-tab-link routerLink="/celebrations" 
    routerLinkActive #celebrations="routerLinkActive" 
    [active]="celebrations.isActive">
    Celebrations
    </a>

    <a mat-tab-link routerLink="/offers" 
    routerLinkActive #offers="routerLinkActive" 
    [active]="offers.isActive">
    Offers
    </a>
</nav>
</div>
