<div class="container-image">
    <img src="http://localhost:4200/assets/img2/one12.jpg">
    <div class="text-box">
        <div class="cont-text-box">
            <h3>{{ 'ACCOMMODATION2' | translate }}</h3>
            <p>{{ 'ROOMS_APARTMENTS_LOG_CABIN' | translate }}</p>
        </div>
    </div>
</div>

<!-- Single rooms -->
<div class="cont">
    <div class="RoomsInner">
        <div class="Col1x1">  
            <app-carousel [images]="images" [autoSlide]="true" class="custom-img"></app-carousel>
        </div>
        <div class="Col1x2">
            <h3>{{ 'SINGLE_ROOMS' | translate }}</h3>
            <div class="RoomsText">
                <p>{{ 'ROOMS_WITH_ONE_BED' | translate }}</p>   
            </div>
            <div class="button-view-more"><br>
                <a mat-flat-button routerLink="/single">{{ 'VIEW_MORE' | translate }}</a>
            </div>
        </div>
    </div>

    <!-- Double rooms -->
    <div class="RoomsInner">
        <div class="Col1x31">  
            <app-carousel [images]="images2" [autoSlide]="true"></app-carousel>
        </div>
        <div class="Col1x32">
            <h3>{{ 'DOUBLE_ROOMS' | translate }}</h3>
            <div class="RoomsText">
                <p>{{ 'ROOMS_WITH_TWO_BED' | translate }}</p>   
            </div>
            <div class="button-view-more"><br>
                <a mat-flat-button routerLink="/double">{{ 'VIEW_MORE' | translate }}</a>
            </div>
        </div>
    </div>

    <!-- Studio apartments -->
    <div class="RoomsInner">
        <div class="Col1x1">  
            <app-carousel [images]="images3" [autoSlide]="true"></app-carousel>
        </div>
        <div class="Col1x2">
            <h3>{{ 'STUDIO_APARTMENTS' | translate }}</h3>
            <div class="RoomsText">
                <p>{{ 'TWO_STUDIO_APARTMENTS' | translate }}</p>   
            </div>
            <div class="button-view-more"><br>
                <a mat-flat-button routerLink="/studio">{{ 'VIEW_MORE' | translate }}</a>
            </div>
        </div>
    </div>

    <!-- Log cabin -->
    <div class="RoomsInner">
        <div class="Col1x31">  
            <app-carousel [images]="images4" [autoSlide]="true"></app-carousel>
        </div>
        <div class="Col1x32">
            <h3>{{ 'LOG_CABIN' | translate }}</h3>
            <div class="RoomsText">
                <p>{{ 'TWO_FLOORS_LOG_CABIN' | translate }}</p>   
            </div>
            <div class="button-view-more"><br>
                <a mat-flat-button routerLink="/logCabin">{{ 'VIEW_MORE' | translate }}</a>
            </div>
        </div>
    </div>
</div>
