<div class="container-image">
    <img src="http://localhost:4200/assets/img/single/singleroomm.jpg">
    <div class="text-box">
        <div class="cont-text-box">
            <h3>{{ 'Rooms' | translate }}</h3>
            <p>{{ '* * * Single bedrooms * * *' | translate }}</p>
        </div>
    </div>
</div>
<div class="single-container">
    <div class="InPageGallery">
        <div class="container-h2">
            <p>{{ 'first'| translate }}</p>
        </div>
        <div class="ShrinkContainer2">
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/single/singleroom.avif"  alt="singleroomfoto1">
            </div>    
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/single/singleroomm.jpg"  alt="singleroomfoto2">
            </div>    
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/single/singleroom.avif"  alt="singleroomfoto3">
            </div>    

            <div class="textcontainer">
                <p [innerHTML]="'PARAGRAPH2' | translate"></p>
            </div>
            <div class="container-h2">
                <p>{{ 'second' | translate }}</p>
            </div>
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/single/singleroom.avif"  alt="singleroomfoto1">
            </div>    
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/single/singleroomm.jpg"  alt="singleroomfoto2">
            </div>    
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/single/singleroom.avif"  alt="singleroomfoto3">
            </div>    

            <div class="container-h2">
                <p>{{ 'Kitchen' | translate }}</p>
            </div>
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/single/gf1.png"  alt="singleroomfoto1">
            </div>    
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/single/kk3.png"  alt="singleroomfoto2">
            </div>    
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/single/gff.png"  alt="singleroomfoto3">
            </div>  
        </div>
        <div class="containerIcons">
            <header class="hd">{{ 'Amenities:' | translate }}</header>
            
            <ul>
            <li>
                <span class="material-symbols-outlined">{{ 'single_bed' | translate }}</span>
                <p class="text-list">{{ 'single bed' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'wifi' | translate }}</span>
                <p class="text-list">{{ 'free wifi' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'desk' | translate }}</span>
                <p class="text-list">{{ 'desk / night desk' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'inventory_2' | translate }}</span>
                <p class="text-list">{{ 'wardrobe for clothes' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'checkroom' | translate }}</span>
                <p class="text-list">{{ 'checkroomm' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'tv' | translate }}</span>
                <p class="text-list">{{ 'television' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'panorama' | translate }}</span>
                <p class="text-list">{{ 'beautiful view' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'local_parking' | translate }}</span>
                <p class="text-list">{{ 'free parking' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'bathroom' | translate }}</span>
                <p class="text-list">{{ 'shared bathroom' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'multicooker' | translate }}</span>
                <p class="text-list">{{ 'shared kitchen' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'stockpot' | translate }}</span>
                <span class="material-symbols-outlined">{{ 'flatware' | translate }}</span>
                <span class="material-symbols-outlined">{{ 'coffee' | translate }}</span>
                
                <p class="text-list">{{ 'all kitchen utensils' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'pets' | translate }}</span>
                <p class="text-list">{{ 'pets allowed' | translate }}</p>
            </li>    
        </ul>
    </div>
</div>
