<div class="InPageGallery">
    <h2>Apartmanii....</h2>
    <div class="ShrinkContainer2">
                        <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto1">
            </div>    
                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto2">
            </div>    
                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto3">
            </div>    
                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto4">
            </div>    
                            <div class="RoomImage activeImageGall">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto5">
            </div>    
                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg" alt="singleroomfoto6">
            </div>    
                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto7">
            </div>    
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto8">
            </div> 
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto8">
            </div>
                            
        </div>
    <div class="textcontainer">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos natus, qui dicta reprehenderit ea quibusdam, 
            esse obcaecati id magnam quae repudiandae exercitationem minima nisi sapiente reiciendis distinctio. 
            Vero, eaque repellendus.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae voluptas et provident laudantium, ducimus 
            tempore vero rem dicta vel, fugit s
            imilique, animi dolorem sunt. Doloremque quod deserunt voluptatem omnis exercitationem.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque soluta iure doloribus ipsam ipsa libero, suscipit laborum. 
            Ullam, ipsam tempore. Inventore magni eligendi qui perspiciatis, voluptates doloremque consequatur 
            reprehenderit ipsum..................
        </p>
    
    </div>
</div>

