<div class="InPageGallery">
    <h2>First &nbsp; Single &nbsp; bedroom&nbsp;</h2>
    <div class="ShrinkContainer2">
                        <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto1">
            </div>    
                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto2">
            </div>    
                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto3">
            </div>    

            <div class="textcontainer">
                <p>
                    Two single rooms are available.<br><br> The first room is located on the first floor of the house. 
                    It contains one bed, wardrobe, bedside table, TV and free internet. <br>From the window of the room you can see a beautiful view of the park,
                     which is located across the street from the house.<br><br> The room uses a shared bathroom and kitchen.<br> There is a large terrace in front of the house.<br><br>
                    Another such room is located on the ground floor with the same inventory.<br>
                </p>
            
            </div>

                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto4">
            </div>    
                            <div class="RoomImage activeImageGall">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto5">
            </div>    
                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg" alt="singleroomfoto6">
            </div>   
          
                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto7">
            </div>    
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto8">
            </div> 
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg"  alt="singleroomfoto8">
            </div>
                            
        </div>
</div>
    <div class="containerIcons">
        <header class="hd">Amenities: </header>
        
        <ul>
          <li>
              <span class="material-symbols-outlined">single_bed</span>
              <p class="text-list">single bed</p>
          </li>
          <li>
              <span class="material-symbols-outlined">wifi</span>
              <p class="text-list">free wifi</p>
          </li>
          <li>
              <span class="material-symbols-outlined">desk</span>
              <p class="text-list">desk / night desk</p>
          </li>
          <li>
              <span class="material-symbols-outlined">inventory_2</span>
              <p class="text-list">wardrobe for clothes</p>
          </li>
          <li>
              <span class="material-symbols-outlined">checkroom</span>
              <p class="text-list"> checkroom</p>
          </li>
          <li>
              <span class="material-symbols-outlined">tv</span>
              <p class="text-list">television</p>
          </li>
          <li>
              <span class="material-symbols-outlined">panorama</span>
              <p class="text-list">beutiful view</p>
          </li>
          <li>
              <span class="material-symbols-outlined">local_parking</span>
              <p class="text-list">free parking</p>
          </li>
          <li>
              <span class="material-symbols-outlined">bathroom</span>
              <p class="text-list"> shared bathroom </p>
          </li>
          <li>
              <span class="material-symbols-outlined">multicooker</span>
              <p class="text-list"> shared kitchen </p>
          </li>
          <li>
              <span class="material-symbols-outlined">stockpot</span>
              <span class="material-symbols-outlined">flatware</span>
              <span class="material-symbols-outlined">coffee</span>
              
              <p class="text-list"> all kitchen utensils </p>
          </li>
          <li>
              <span class="material-symbols-outlined">pets</span>
              <p class="text-list">pets allowed</p>
          </li>    
      </ul>
  </div>
  <div class="text-item">
    <p>
        Lorem, ipsum dolor sit amet consectetur<br> adipisicing elit. Magnam iure est <br>architecto hic adipisci
         velit eius nihil dolore <br>suscipit vel aspernatur, aliquid laudantium qua
         m veniam praesentium <br>possimus voluptate expedita quos!
    </p>
  </div>


