<!-- <div class="container">
    <div class="photo-gallery">
        <div class="column">
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/one12.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/double/double.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/single/single.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/single/single.jpg" alt="firstFoto">
            </div>
        </div>
        <div class="column">
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/double/double.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img2/one12.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img2/one12.jpg" alt="firstFoto">

            </div>
        </div>
        <div class="column">
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/one12.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/double/double.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img2/one12.jpg" alt="firstFoto">

            </div>
        </div>
        <div class="column">
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/one12.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/single/single.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/single/single.jpg" alt="firstFoto">
                
            </div>
        </div>
        <div class="column">
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/double/double.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/single/single.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img2/one12.jpg" alt="firstFoto">



            </div>
        </div>
       
    </div>
</div> -->
<div class="container">
   
    <div class="photo-gallery">
        <div class="column"> <!-- 111111111111111111111111111111111111111111111111111111111 -->
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/bg.jpg" alt="slika1">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg" alt="slika2">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/double.jpg" alt="slika3">
            </div>  
            <div class="photo">
                <img src="http://localhost:4200/assets/img/single/k2.jpg" alt="slika4">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/single/kk3.png" alt="slika5">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/single/singlerooms1.jpg" alt="slika6">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/logview.jpg" alt="slika7">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/sb.jpg" alt="slika8">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/log1.jpg" alt="slika9">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/triple/tl2.png" alt="slika19">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/db4.jpg" alt="slika11">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/tr1.png" alt="slika312">
            </div>
        </div>
        <div class="column"> <!-- 22222222222222222222222222222222222222222222222222222222222222 -->
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/dbb2.png" alt="slika22">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/dbrm1.png" alt="slika21">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/dbb1.png" alt="slika23">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/sb.jpg" alt="slika8-2">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/triple/ku.png" alt="slika24">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/triple/rm.png" alt="slika26">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/dbb2.png" alt="slika27">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/cs.png" alt="slika28">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/tr2.png" alt="slika29">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/single/k1.png" alt="slika39-2">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/triple/st4.png" alt="slika25">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/log1.jpg" alt="slika9-2">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/sb.jpg" alt="slika8">
            </div>
        </div>
        <div class="column"> <!-- 333333333333333333333333333333333333333333333333333333333333333 -->
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/doublerooms4.jpg" alt="slika31">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/rg.png" alt="slika32">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/log3.jpg" alt="slika34">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/log12.jpg" alt="slika35">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/logUp.jpg" alt="slika36">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/db5.jpg" alt="slika37">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/single/single.jpg" alt="slika38">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/triple/st1.png" alt="slika39">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/triple/room.png" alt="slika310">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/dbb1.png" alt="slika33">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/one12.jpg" alt="slika311">
            </div>
            <div class="photo">
                <img src="http://localhost:4200/assets/img/triple/rooom.png" alt="slika12">
            </div>
          
        </div>
        


    </div>
</div>


