<mat-toolbar  class="header">
  <!-- <mat-toolbar  class="header" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
sluzi za skrolovanje hedera...............
  -->
  <div>
    <!--dodajemo metodu na klik- onTooggleOpenSidenav -->
    <button mat-icon-button (click)="onToggleOpenSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
    <div class="logo-container">
      <div fxLayout="column" fxLayoutAlign="center center">
        <img class="logo"  src="assets/images/dn.jpg">
      </div>
    </div>
    <div>
      <button (click)="switchLanguage('en')" class="buttonn">EN</button>
      <button (click)="switchLanguage('sr')" class="buttonn">SR</button>
    </div>
    <!-- <button mat-icon-button [matMenuTriggerFor]="languageMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item (click)="switchLanguage('en')"> Engleski </button>
      <button mat-menu-item (click)="switchLanguage('sr')"> Srpski </button>
    </mat-menu> -->
</mat-toolbar>

