<div class="container">
    <div class="photo-gallery">
        <div class="column">
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/one12.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/double/double.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/single/single.jpg" alt="firstFoto">
            </div>
        </div>
        <div class="column">
            <div class="photo">
                <img src="http://localhost:4200/assets/img/double/doublerooms1.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/double/double.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img2/one12.jpg" alt="firstFoto">
            </div>
        </div>
        <div class="column">
            <div class="photo">
                <img src="http://localhost:4200/assets/img2/one12.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/double/double.jpg" alt="firstFoto">
                <img src="http://localhost:4200/assets/img/single/single.jpg" alt="firstFoto">
            </div>
        </div>
    </div>
</div>