<div class="container-image">
    <img src="http://localhost:4200/assets/img/triple/st2.png">
    <div class="text-box">
        <div class="cont-text-box">
            <h3>Apartments</h3>
            <p>* * * Studio apartments * * *</p>
        </div>
    </div>
</div>
<div class="single-container">
<div class="InPageGallery">
    <div class="container-h2">
        <p>First &nbsp; Studio &nbsp; Apartments&nbsp;</p>
    </div>
    <div class="ShrinkContainer2">
                        <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/triple/st1.png"  alt="singleroomfoto1">
            </div>    
                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/triple/st2.png"  alt="singleroomfoto2">
            </div>    
                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/triple/st3.png"  alt="singleroomfoto3">
            </div>    
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/triple/kuhi.png"  alt="singleroomfoto3">
            </div> 
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/triple/tl2.png"  alt="singleroomfoto3">
            </div> 
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/triple/ku.png"  alt="singleroomfoto3">
            </div> 

            <div class="textcontainer">
                <p>
                    Two studio apartments are available.<br><br> The first studio is located on the first floor of the house. 
                    It contains three bed, wardrobe, bedside table, TV and free internet. <br>From the window of the room you can see a beautiful view of the park,
                     which is located across the street from the house.<br><br> The room uses a separate bathroom and kitchen.<br><br>
                     The studio has a separate bathroom and kitchen in the room. Contains all kitchen elements. From coffee cups, pans, serpis, plates, to pots and forks. <br><br>
                     It has an induction cooking plate and a refrigerator. In addition to basic hygiene items, there is always hot water in the bathroom. 
                     In front of the house there is a large terrace with tables and chairs, <br>where you can sit and enjoy the beautiful view of nature. <br><br>
                     There is also a line for drying clothes on the terrace, <br>and the washing machine is located on the ground floor of the house.<br><br>
                     The second studio apartment is located on the ground floor of the house, it has the same inventory and the same layout.<br>
                    
                </p>
            </div>
            <div class="container-h2">
                <p>Second &nbsp; Studio &nbsp; Apartments&nbsp;</p>
            </div>
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/triple/room.png"  alt="singleroomfoto1">
            </div>    
                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/triple/st4.png"  alt="singleroomfoto2">
            </div>    
                            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/triple/rooom.png"  alt="singleroomfoto3">
            </div>    
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/triple/kuhi.png"  alt="singleroomfoto3">
            </div> 
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/triple/tl3.png"  alt="singleroomfoto3">
            </div> 
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/triple/ku.png"  alt="singleroomfoto3">
            </div>  

        </div>
    </div>
        <div class="containerIcons">
            <header class="hd">Amenities: </header>
            
            <ul>
            <li>
                <span class="material-symbols-outlined">single_bed</span>
                <p class="text-list">triple single bed</p>
            </li>
            <li>
                <span class="material-symbols-outlined">wifi</span>
                <p class="text-list">free wifi</p>
            </li>
            <li>
                <span class="material-symbols-outlined">desk</span>
                <p class="text-list">desk / night desk</p>
            </li>
            <li>
                <span class="material-symbols-outlined">inventory_2</span>
                <p class="text-list">wardrobe for clothes</p>
            </li>
            <li>
                <span class="material-symbols-outlined">checkroom</span>
                <p class="text-list"> checkroom</p>
            </li>
            <li>
                <span class="material-symbols-outlined">tv</span>
                <p class="text-list">television</p>
            </li>
            <li>
                <span class="material-symbols-outlined">panorama</span>
                <p class="text-list">beutiful view</p>
            </li>
            <li>
                <span class="material-symbols-outlined">local_parking</span>
                <p class="text-list">free parking</p>
            </li>
            <li>
                <span class="material-symbols-outlined">bathroom</span>
                <p class="text-list"> separate  bathroom </p>
            </li>
            <li>
                <span class="material-symbols-outlined">multicooker</span>
                <p class="text-list"> separate kitchen </p>
            </li>
            <li>
                <span class="material-symbols-outlined">stockpot</span>
                <span class="material-symbols-outlined">flatware</span>
                <span class="material-symbols-outlined">coffee</span>
                
                <p class="text-list"> all kitchen utensils </p>
            </li>
            <li>
                <span class="material-symbols-outlined">pets</span>
                <p class="text-list">pets allowed</p>
            </li>    
        </ul>
    </div>
</div>

