.hero-container{
    background: url(http://localhost:4200/assets/img2/one12.jpg) center center no-repeat;
    background-size: cover;
    height: 560px;
    /*height: calc(100vh - 145); */
    text-align: center;
}
.book-now-container{
    padding: 40px 115px;

}
.book-now-button{
    width: 260px;
    height: 65px;
    border-radius: 7px;
    font-size: 20px;
    background-color: #2c2c2c;
}
.one{
        color: rgb(64, 139, 224);
}
.two{
    color: #fff;
}
 .mat-mdc-outlined-button:not(:disabled) {
    border: 2px solid  rgb(64, 139, 224);
} 
.mat-mdc-outlined-button:not(:disabled) {
    color:  rgb(255, 255, 255);}
    /*Primetite da sam morala da dodam selektor klase
    mat-mdc-outlined-button svom selektoru. Bez ovoga,
    sam birač dugmeta
     za boju nije dovoljno specifičan za stilizovanje dugmeta.*/

 .book-now-button:hover{
    background-color: rgb(39, 39, 39);
    font-size: 22px;
 }
.header-container{
    padding: 0px 20px;
    text-align: center;
    /*width: 600px;*/

}
.header-container .headline-1{
    font-size: 60px;
    line-height: 0px;
    letter-spacing: 6px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
   
}
.header-container .mat-headline-4{
    padding-top: -10px;
    margin-bottom: -20px;
    font-size: 30px;
    letter-spacing: 4px;
    color: #fff;
    
}
.thailand{
    position: relative;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -120%);
}

.thailand h3{
    -webkit-text-fill-color: transparent;
    background: url(http://localhost:4200/assets/img2/images.jpg) repeat;
    -webkit-background-clip: text;
    font-stretch: normal;
    font-size: 200px;
    letter-spacing: 0.09em;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Rubik, sans-serif;
    top: 50%;
    left: 50%;
    position: relative;
}
.home-section{
    text-align: center;
    line-height: normal;
    padding-top: 10%;
}
.rooms-home-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}
.rooms-home-display .mat-card{
    position: relative;
    text-align: center;
}
.rooms-suites{
    background: url(http://localhost:4200/assets/img/double/rs.png) center center no-repeat;
    background-size: cover;
}
.beach-houses{
    background: url(http://localhost:4200/assets/img/triple/rm.png) center center no-repeat;
    background-size: cover;
}

.rooms-home-display mat-card{
    height: 600px;
}
.rooms-home-display mat-card-header h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 28px;
    line-height: 43px;
}

.rooms-home-display mat-card-header{
    position:absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    height: 55px;
    background: rgba(255, 248, 255, 0.6);
}

.rooms-home-display mat-card-actions{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rooms-home-display mat-card button{
    min-width: 141px;
    min-height: 40px;
    background-color: rgb(64, 139, 224);
    font-size: 18px;
    font-weight: 500;
     cursor: pointer;
     color: ivory;
     border: 0;
     font-family: serif;
     border-radius: 10px;
    }
.rooms-home-display mat-card button:hover{
        background-color: rgb(9, 73, 156);
    }


/* @media all and (min-width: 768px) {
    .hero-container{
        height: 100vh;
    }
} */
@media all and (max-width:599px){
    .header-container .mat-headline-4{
        font-size: 1.1rem;
        line-height: 1.1;
    }
    .header-container .mat-headline-1{
        font-size: 3rem;
        line-height: 1.1;
    }
}
@media all and (max-width:1288px) {
    .thailand,
    .thailand h3{
        display: none;
    }
    .home-section{
        padding-top: 80px;
    }
}
.paragraf > p{
    font-size: 30px;
}
.img2 {
    width: 100%;
    height: 400px;
}
.img2 img{
    width: 100%;
    height:100%;
}
.photoSpa{
    width: 100%;
    height: 600px;
    margin-top: 10%;
    margin-bottom: 10%;
}
