<div class="hero-container">
    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button  routerLink="/contact" >
                <span class="one">{{ 'BOOK' | translate }}  </span>    <span class="two">  {{ 'BOOK_NOW' | translate }}</span>
            </button>
        </div>
    </div>
    <div class="header-container" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
        <h3 class="headline-1">{{ 'BOOK_THE_APPROPRIATE' | translate }}</h3>
        <br/> 
        <h3 class="headline-1">{{ 'ACCOMMODATION' | translate }}</h3>
    </div>
    
</div>
<section class="home-section">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <!-- Koristimo translate direktivu za dohvatanje prevoda ključa 'ROOMS_AND_APARTMENTS' -->
            <h2 class="mat-subtitle-1">{{ 'ROOMS_AND_APARTMENTS' | translate }}</h2>
        </div>
        <div>
            <h3 class="mat-subtitle-2"></h3>
        </div>
        <div class="paragraf">
            <!-- Koristimo translate direktivu za dohvatanje prevoda ključa 'PARAGRAPH' -->
            <p fxFlex="70" fxFlexOffset="15" class="mat-body-2" [innerHTML]="'PARAGRAPH' | translate"></p>
        </div>
    </div>
    
    <div class="photoSpa">
        <div class="img2">
            <img src="http://localhost:4200/assets/img2/sb.jpg">
        </div>
        <div class="thailand">
            <h3>Sijarina spa </h3>
        </div>
    </div>
    <div class="rooms-home-display" fxLayout.xs="column" fxFlexLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center center">
        <mat-card class="rooms-suites" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <!-- Koristimo translate direktivu za dohvatanje prevoda ključa 'ROOMS_AND_SUITES' -->
                <h2>{{ 'ROOMS_AND_SUITES' | translate }}</h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <!-- Ostatak sadržaja kartice -->
            </mat-card-actions>
        </mat-card>  
        
        <mat-card class="beach-houses" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <!-- Koristimo translate direktivu za dohvatanje prevoda ključa 'ROOMS_AND_SUITES' -->
                <h2>{{ 'ROOMS_AND_SUITES' | translate }}</h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <!-- Ostatak sadržaja kartice -->
            </mat-card-actions>
        </mat-card>    
    </div>
    
</section>
