<div class="hero-container">
    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button   >
                <span>Book</span> Your Rooms
            </button>
        </div>
    </div>
    <div class="header-container" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
        <!-- <h2 class="mat-headline-4">
            rest &amp; nature &amp; relaxation
        </h2> -->
        <h3 class="headline-1">
            Book The Appropriate 
        </h3> <br/> 
        <h3 class="headline-1">
         Accommodation
        </h3>
    </div>
</div>
<section class="home-section">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <h2 class="mat-subtitle-1">Rooms &amp; Apartments Dragana Nikolić</h2>
        </div>
        <div>
            <h3 class="mat-subtitle-2">
            
            </h3>
        </div>
        <div class="paragraf">
            <p fxFlex="70" fxFlexOffset="15" class="mat-body-2">
                Private accommodation is located just a few hundred meters from the Geyzir special rehabilitation hospital in Sijarinska Banja. 
                <br>
                <br>
                Not far from Radan mountain, at a distance of about 300 kilometers from Belgrade, <br>
                 but it can be reached by the high-speed highway Belgrade - Niš - Leskovac, then the regional road Leskovac - Priština.

                 <br><br>
                Dragana Nikolić's private accommodation, rooms and apartments, with its long-standing tradition, 
                has become the main brand for all those who want to feel at home. 
                
                <br><br>
                Excellent price-quality ratio. Considering that the accommodation is located in the very center of the spa, there are also numerous sights that can be visited on foot. 
                The most significant landmarks are the Church of St. Elijah, mineral springs, swimming pools and the geyser itself.<br>
                <br>The ground floor and first floor of the house, as well as the log cabin itself, were completely renovated. <br><br>Available on the ground floor:
                 2 double rooms with shared bathroom, kitchen and terrace, 1 studio apartment with 3 beds with separate bathroom, kitchen and terrace. 
                 <br><br>On the first floor of the house there are: 2 double rooms and 1 single room with shared bathroom and kitchen, and 1 studio with 3 beds with separate bathroom and kitchen.
                 <br><br>There is a log cabin in the yard in front of the house. <br><br>
                 On the first floor of the log house there is a studio apartment with two beds, a TV, 
                 a separate kitchen, a bathroom and a separate terrace. <br>
                 In the attic of the log cabin there is an apartment with two sofas, also a separate bathroom, kitchen and terrace. 
                 From the log cabin there is a beautiful view of the Church of St. Elijah, which is located in the immediate vicinity of the accommodation.
                 <br> <br>
                 There is a huge terrace in front of the house, with a view of the hotel, 
                  the church and the park across the street from the house.
        </div>
    </div>
    <div class="photoSpa">
        <div class="img2">
            <img src="http://localhost:4200/assets/img2/sb.jpg">
        </div>
        <div class="thailand">
            <h3>Sijarina spa </h3>
        </div>
    </div>
    <div class="rooms-home-display" fxLayout.xs="column" fxFlexLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center center">
        <mat-card class="rooms-suites" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Rooms &amp; Suits</h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <!-- <button mat-raised-button color="primary">
                    Explore
                </button> -->
            </mat-card-actions>
        </mat-card>  
        
        <mat-card class="beach-houses" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Rooms &amp; Suits</h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <!-- <button mat-raised-button color="primary">
                    Explore
                </button> -->
            </mat-card-actions>
        </mat-card>    
    </div>
</section>
