<div class="RoomsInner">
        <div class="Col1x1">  

           <app-carousel [images]="images" [autoSlide]="true"></app-carousel>
        </div>                                                            
                                         
    <div class="Col1x2">
        <a href="/rezervacije?unit=24973">
            <h3>Premium deluks soba</h3>
        </a>
            <div class="RoomsText">
                <p>Dvokrevetna soba površine 26 m<sup>2</sup> sa francuskim ležajem&nbsp; i foteljom na razvlačenje, pogledom na veštačko jezerce i romantičnim balkonom.</p>   
        <a href="/rezervacije?unit=24973" class="PurpleButton" title="Premium deluks soba">Rezervisite odmah</a>
    </div>
</div>                           
</div> 


<div class="RoomsInner">
    <div class="Col1x2">  

       <app-carousel [images]="images" [autoSlide]="true"></app-carousel>
    </div>                                                            
                                     
<div class="Col1x1">
    <a href="/rezervacije?unit=24973">
        <h3>Premium deluks soba</h3>
    </a>
        <div class="RoomsText">
            <p>Dvokrevetna soba površine 26 m<sup>2</sup> sa francuskim ležajem&nbsp; i foteljom na razvlačenje, pogledom na veštačko jezerce i romantičnim balkonom.</p>   
    <a href="/rezervacije?unit=24973" class="PurpleButton" title="Premium deluks soba">Rezervisite odmah</a>
</div>
</div>                           
</div> 



<div class="RoomsInner">
    <div class="Col1x1">  

       <app-carousel [images]="images" [autoSlide]="true"></app-carousel>
    </div>                                                            
                                     
<div class="Col1x2">
    <a href="/rezervacije?unit=24973">
        <h3>Premium deluks soba</h3>
    </a>
        <div class="RoomsText">
            <p>Dvokrevetna soba površine 26 m<sup>2</sup> sa francuskim ležajem&nbsp; i foteljom na razvlačenje, pogledom na veštačko jezerce i romantičnim balkonom.</p>   
    <a href="/rezervacije?unit=24973" class="PurpleButton" title="Premium deluks soba">Rezervisite odmah</a>
</div>
</div>                           
</div> 
