<div class="container-image">
    <img src="http://localhost:4200/assets/img2/one12.jpg">
    <div class="text-box">
        <div class="cont-text-box">
            <h3>Rooms</h3>
            <p>Single bedrooms / double bedrooms</p>
        </div>
    </div>
</div>

<div class="cont">
<div class="RoomsInner">
        <div class="Col1x1">  
           <app-carousel [images]="images" [autoSlide]="true"></app-carousel>
        </div>                                                                                             
    <div class="Col1x2">
            <h3>Single rooms</h3>
            <div class="RoomsText">
                <p>rooms with one bed, area 16m<sup>2</sup> with a wardrobe and a bedside table and with a view of nature</p>   
            </div>
            <div class="button-view-more"><br>
                <a mat-flat-button routerLink="/single">View more</a>
            </div>
    </div>                           
</div> 
<div class="RoomsInner">
    <div class="Col1x31">  
       <app-carousel [images]="images2" [autoSlide]="true"></app-carousel>
    </div>                                                                                                
    <div class="Col1x32">
        <h3>Double rooms</h3>
        <div class="RoomsText">
            <p>rooms with two bed, area 25m<sup>2</sup> with a wardrobe and a two bedside table and with a balcony</p>   
        </div>
        <div class="button-view-more"><br>
            <a mat-flat-button routerLink="/double">View more</a>
        </div>
    </div>                           
</div> 
</div>
<!-- <app-footer></app-footer> -->
