<div class="container-image">
    <img src="http://localhost:4200/assets/img/double/bg.jpg">
    <div class="text-box">
        <div class="cont-text-box">
            <h3>{{ 'Rooms1' | translate}}</h3>
            <p>{{ 'double' | translate }}</p>
        </div>
    </div>
</div>
<div class="single-container">
    <div class="InPageGallery">
            <div class="container-h2">
                <p>{{'doubleALL' | translate }}</p>
            </div>
        <div class="ShrinkContainer2">
                            <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/db2.jpg"  alt="singleroomfoto1">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/db5.jpg"  alt="singleroomfoto2">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/db4.jpg"  alt="singleroomfoto3">
                </div>    

                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/db3.jpg"  alt="singleroomfoto1">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/double.jpg"  alt="singleroomfoto2">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/db44.jpg"  alt="singleroomfoto3">
                </div> 
                <div class="textcontainer">
                    <p [innerHTML]="'PARAGRAPH3' | translate"></p>
                </div>

                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/dbb.png"  alt="singleroomfoto1">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/dbb1.png"  alt="singleroomfoto2">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/dbb2.png"  alt="singleroomfoto3">
                </div>
                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/dbrm1.png"  alt="singleroomfoto1">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/dbb4.png"  alt="singleroomfoto2">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/rg.png"  alt="singleroomfoto3">
                </div>   
            
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/tr1.png"  alt="singleroomfoto3">
            </div>  
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/tr2.png"  alt="singleroomfoto3">
            </div>   
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/cs.png"  alt="singleroomfoto3">
            </div>  



                        <div class="container-h2">
                            <p>{{ 'kitchen1' | translate}}</p>
                        </div>
                        <div class="RoomImage">
                            <img src="http://localhost:4200/assets/img/single/gf1.png"  alt="singleroomfoto1">
                        </div>    
                                        <div class="RoomImage">
                            <img src="http://localhost:4200/assets/img/single/kk3.png"  alt="singleroomfoto2">
                        </div>    
                                        <div class="RoomImage">
                            <img src="http://localhost:4200/assets/img/single/gff.png"  alt="singleroomfoto3">
                        </div>  
        </div>
        </div>
        <div class="containerIcons">
            <header class="hd">{{ 'Amenities:' | translate }}</header>
            
            <ul>
                <li>
                    <span class="material-symbols-outlined">{{ 'single_bed' | translate }}</span>
                    <p class="text-list">{{ 'double bed' | translate }}</p>
                </li>
            <li>
                <span class="material-symbols-outlined">{{ 'wifi' | translate }}</span>
                <p class="text-list">{{ 'free wifi' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'desk' | translate }}</span>
                <p class="text-list">{{ 'desk / night desk' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'inventory_2' | translate }}</span>
                <p class="text-list">{{ 'wardrobe for clothes' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'checkroom' | translate }}</span>
                <p class="text-list">{{ 'checkroomm' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'tv' | translate }}</span>
                <p class="text-list">{{ 'television' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'panorama' | translate }}</span>
                <p class="text-list">{{ 'beautiful view' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'local_parking' | translate }}</span>
                <p class="text-list">{{ 'free parking' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'bathroom' | translate }}</span>
                <p class="text-list">{{ 'shared bathroom' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'multicooker' | translate }}</span>
                <p class="text-list">{{ 'shared kitchen' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'stockpot' | translate }}</span>
                <span class="material-symbols-outlined">{{ 'flatware' | translate }}</span>
                <span class="material-symbols-outlined">{{ 'coffee' | translate }}</span>
                
                <p class="text-list">{{ 'all kitchen utensils' | translate }}</p>
            </li>
            <li>
                <span class="material-symbols-outlined">{{ 'pets' | translate }}</span>
                <p class="text-list">{{ 'pets allowed' | translate }}</p>
            </li>    
        </ul>
    </div>
</div>

