<div class="container-image">
    <img src="http://localhost:4200/assets/img/double/bg.jpg">
    <div class="text-box">
        <div class="cont-text-box">
            <h3>Rooms</h3>
            <p>* * * Double bedrooms * * *</p>
        </div>
    </div>
</div>
<div class="single-container">
    <div class="InPageGallery">
            <div class="container-h2">
                <p>All &nbsp; Double &nbsp; Bedrooms&nbsp;</p>
            </div>
        <div class="ShrinkContainer2">
                            <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/db2.jpg"  alt="singleroomfoto1">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/db5.jpg"  alt="singleroomfoto2">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/db4.jpg"  alt="singleroomfoto3">
                </div>    

                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/db3.jpg"  alt="singleroomfoto1">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/double.jpg"  alt="singleroomfoto2">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/db44.jpg"  alt="singleroomfoto3">
                </div> 
                <div class="textcontainer">
                    <p>
                        Four double rooms are available.<br><br>
                        The first two double rooms are located on the ground floor of the house. <br><br>
                        Each room contains two beds, wardrobe, bedside tables, TV and free internet. &nbsp; 
                        Rooms on the ground floor have balcony doors and access to a large terrace. And the door of the room faces the hallway of the house, 
                        where the kitchen and bathroom are located.
                        <br>The window of the room offers a beautiful view of the park across the street from the house.<br><br>
                        Two other double rooms are located on the first floor, with the same fixtures and layout.
                    </p>
                </div>

                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/dbb.png"  alt="singleroomfoto1">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/dbb1.png"  alt="singleroomfoto2">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/dbb2.png"  alt="singleroomfoto3">
                </div>
                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/dbrm1.png"  alt="singleroomfoto1">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/dbb4.png"  alt="singleroomfoto2">
                </div>    
                                <div class="RoomImage">
                    <img src="http://localhost:4200/assets/img/double/rg.png"  alt="singleroomfoto3">
                </div>   
            
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/tr1.png"  alt="singleroomfoto3">
            </div>  
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/tr2.png"  alt="singleroomfoto3">
            </div>   
            <div class="RoomImage">
                <img src="http://localhost:4200/assets/img/double/cs.png"  alt="singleroomfoto3">
            </div>  



                        <div class="container-h2">
                            <p>Kitchen  &nbsp; And &nbsp; Bathroom&nbsp;</p>
                        </div>
                        <div class="RoomImage">
                            <img src="http://localhost:4200/assets/img/single/gf1.png"  alt="singleroomfoto1">
                        </div>    
                                        <div class="RoomImage">
                            <img src="http://localhost:4200/assets/img/single/kk3.png"  alt="singleroomfoto2">
                        </div>    
                                        <div class="RoomImage">
                            <img src="http://localhost:4200/assets/img/single/gff.png"  alt="singleroomfoto3">
                        </div>  
        </div>
        </div>
        <div class="containerIcons">
            <header class="hd">Amenities: </header>
            
            <ul>
            <li>
                <span class="material-symbols-outlined">bed</span>
                <p class="text-list">double bed</p>
            </li>
            <li>
                <span class="material-symbols-outlined">wifi</span>
                <p class="text-list">free wifi</p>
            </li>
            <li>
                <span class="material-symbols-outlined">desk</span>
                <p class="text-list">desk / night desk</p>
            </li>
            <li>
                <span class="material-symbols-outlined">inventory_2</span>
                <p class="text-list">wardrobe for clothes</p>
            </li>
            <li>
                <span class="material-symbols-outlined">checkroom</span>
                <p class="text-list"> checkroom</p>
            </li>
            <li>
                <span class="material-symbols-outlined">tv</span>
                <p class="text-list">television</p>
            </li>
            <li>
                <span class="material-symbols-outlined">panorama</span>
                <p class="text-list">beutiful view</p>
            </li>
            <li>
                <span class="material-symbols-outlined">local_parking</span>
                <p class="text-list">free parking</p>
            </li>
            <li>
                <span class="material-symbols-outlined">bathroom</span>
                <p class="text-list"> shared bathroom </p>
            </li>
            <li>
                <span class="material-symbols-outlined">multicooker</span>
                <p class="text-list"> shared kitchen </p>
            </li>
            <li>
                <span class="material-symbols-outlined">stockpot</span>
                <span class="material-symbols-outlined">flatware</span>
                <span class="material-symbols-outlined">coffee</span>
                
                <p class="text-list"> all kitchen utensils </p>
            </li>
            <li>
                <span class="material-symbols-outlined">pets</span>
                <p class="text-list">pets allowed</p>
            </li>    
        </ul>
    </div>
</div>

