
<div class="back">
<div class="spa">
    <h1 class="aboutSpa">{{"About Spa" | translate}}</h1>
    <p class="text" [innerHTML]="'PARAGRAPH6' | translate"></p>
   
    <p class="text">
      {{ 'SIJARINSKA_BANJA_DESCRIPTION' | translate }}<br><br>
      <strong>{{ 'POOLS_TITLE' | translate }}:</strong><br><br>
        {{ 'INDOOR_POOLS_DESCRIPTION' | translate }}<br><br>
        {{ 'OUTDOOR_POOLS_DESCRIPTION' | translate }}<br><br>

      <strong>{{ 'SPA_CENTERS_TITLE' | translate }}:</strong><br> <br>
        {{ 'THERAPEUTIC_MASSAGES_DESCRIPTION' | translate }}<br><br>
        {{ 'SAUNAS_DESCRIPTION' | translate }}<br><br>
        {{ 'SAUNAS_TYPES_DESCRIPTION' | translate }}<br><br>
            <strong>{{ 'FINNISH_SAUNA_TITLE' | translate }}</strong><br>
            &nbsp; &nbsp; &nbsp;   {{ 'FINNISH_SAUNA_TEMPERATURE' | translate }}<br>
            &nbsp;  &nbsp;  &nbsp;  {{ 'FINNISH_SAUNA_HUMIDITY' | translate }}<br>
            &nbsp;  &nbsp;  &nbsp; {{ 'FINNISH_SAUNA_RESIDENCE_TIME' | translate }}<br>
            <strong>{{ 'BIO_SAUNA_TITLE' | translate }}</strong><br>
            &nbsp;  &nbsp; &nbsp;  {{ 'BIO_SAUNA_TEMPERATURE' | translate }}<br>
            &nbsp;  &nbsp; &nbsp;  {{ 'BIO_SAUNA_HUMIDITY' | translate }}<br>
            &nbsp;  &nbsp; &nbsp;  {{ 'BIO_SAUNA_STAY_TIME' | translate }}<br><br>

        {{ 'HYDROTHERAPY_DESCRIPTION' | translate }}<br><br>
        {{ 'COSMETIC_TREATMENTS_DESCRIPTION' | translate }}
</p>

<h1 class="MedSpr">{{ 'MEDICINAL_SPRINGS_TITLE' | translate }}</h1>
<p class="text"> 
    {{ 'MEDICINAL_SPRINGS_DESCRIPTION' | translate }} <br>
    {{ 'MEDICINAL_SPRINGS_DETAILS' | translate }}<br><br>

    <strong>{{ 'RAJ_SPRING_TITLE' | translate }}</strong> - {{ 'RAJ_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'RAJ_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'MAIN_SPRING_TITLE' | translate }}</strong> - {{ 'MAIN_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'MAIN_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'LITTLE_GEYSER_SPRING_TITLE' | translate }}</strong> - {{ 'LITTLE_GEYSER_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'LITTLE_GEYSER_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'SPAS_SPRING_TITLE' | translate }}</strong> - {{ 'SPAS_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'SPAS_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'SNEZNIK_SPRING_TITLE' | translate }}</strong> - {{ 'SNEZNIK_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'SNEZNIK_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'B4_SPRING_TITLE' | translate }}</strong> - {{ 'B4_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'B4_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'HISAR_SPRING_TITLE' | translate }}</strong> - {{ 'HISAR_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'HISAR_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'JABLANICA_SPRING_TITLE' | translate }}</strong> - {{ 'JABLANICA_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'JABLANICA_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'SUZICA_SPRING_TITLE' | translate }}</strong> - {{ 'SUZICA_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'SUZICA_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'BOROVAC_SPRING_TITLE' | translate }}</strong> - {{ 'BOROVAC_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'BOROVAC_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'HEALTH_SPRING_TITLE' | translate }}</strong> - {{ 'HEALTH_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'HEALTH_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'BLATISTE_SPRINGS_TITLE' | translate }}</strong> - {{ 'BLATISTE_SPRINGS_DESCRIPTION' | translate }}<br><br>
    
    <strong>{{ 'INHALATION_SPRING_TITLE' | translate }}</strong> - {{ 'INHALATION_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'INHALATION_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'KISELJAK_SPRING_TITLE' | translate }}</strong> - {{ 'KISELJAK_SPRING_DESCRIPTION' | translate }}<br><br>
</p>

<h1 class="Diseases">{{ "Diseases Treated and Cured in Sijarinska Banja" | translate }}</h1>
<p class="text">
    {{ "Therapies are conducted at the Institute for Specialized Rehabilitation 'Sijarinska Banja' - Hotel 'Geyzer'." | translate }}<br>
    {{ "Within this complex, there is modern equipment for various forms of therapy:" | translate }}
</p>

    <br>
    <div class="mat-elevation-z8">
      <h2 class="table-heading">{{ 'The waters of this spa and the therapies applied in this specialized institution help with the following types of diseases:' | translate }}</h2>
      <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> {{ element.position }} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> {{ 'Term' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{ element.name |translate}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> {{ 'Species' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{ element.symbol | translate}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[3, 5, 10, 15]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
  </div>
        <br>
        <br>   
        <br>
        <div class="textcontainer">
          <p [innerHTML]="'PARAGRAPH7' | translate"></p>
      </div>
<br>
<br>
  <!-- lista terapije -->
  <div class="terapy">
    <h2>{{ 'List of Therapies' | translate }}</h2>
    <ul class="ter">
      <li *ngFor="let terapija of terapije">{{ terapija | translate }}</li>
    </ul>
  </div>
   <br>
   <div class="terapy">
    <h2>{{ 'Description of therapies, and subtypes of therapies' | translate }}</h2>
  </div>
  <br>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">                
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>{{"Hydrotherapy"| translate}}</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="klas1">{{ 'Hydrotherapy is a therapeutic practice that uses water for a variety of purposes to improve a person\'s health and well-being. This type of therapy is often applied in spas and wellness centers, and is used both for the treatment of certain conditions and for relaxation and improvement of the general state of the body.' | translate }}</p>
          <br><br>
          <p class="type">{{ 'Types of hydrotherapy:' | translate }}</p><br>
          <p class="klas1">
          <b>{{ 'Hot and Cold Compresses' | translate }}</b>
          <br>
          {{ 'The combination of hot and cold compresses can be used to reduce swelling, alleviate pain, and improve circulation. Warm compresses relax muscles, while cold compresses reduce inflammation.' | translate }}
          <br><br>
          <b>{{ 'Warm Bath' | translate }}</b>
          <br>
          {{ 'A warm bath has a relaxing effect on muscles and can help reduce stress and tension. Adding specific ingredients such as sea salt or essential oils can enhance the therapeutic effect.' | translate }}
          <br><br>
          <b>{{ 'Cold Shower' | translate }}</b>
          <br>
          {{ 'A cold shower can be used to stimulate circulation, reduce fatigue, and increase alertness. This technique is often applied as part of a contrast treatment involving hot and cold water.' | translate }}
          <br><br>
          <b>{{ 'Hydromassage' | translate }}</b>
          <br>
          {{ 'Hydromassage involves the use of water jets under pressure to provide a body massage. This can help relax muscles, improve circulation, and reduce stress.' | translate }}
          <br><br>
          <b>{{ 'Swimming' | translate }}</b>
          <br>
          {{ 'Swimming is an excellent exercise engaging various muscle groups, improving cardiovascular health, and providing a relaxing experience.' | translate }}
          <br><br>
          <b>{{ 'Steam baths' | translate }}</b>
          <br>
          {{ 'Steam baths use the heat of water vapor to open pores, cleanse the skin, and improve breathing. This type of hydrotherapy is often combined with aromatherapy.' | translate }}
        </p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">                
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>{{"Electrotherapy" | translate}}</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="klas1">{{"el" | translate }}
            <br><br><p class="type">{{"Types of electrotherapy"  | translate }}</p><br>
            <p class="klas1">
              <strong>{{ 'Galvanic current' | translate }}</strong><br>
              {{ 'It is a one-way constant current that is used in painful conditions, rheumatic diseases, swelling, nerve injuries, etc. Indications for the application of galvanic current are: neuralgia, neuritis, peripheral lesions and paralysis (accelerates nerve nutrition and recovery), periarthritis, bursitis, tendinitis, enthesopathies (inflammation of soft tissues around the joints), arthrosis, arthritis (painful knees, hips, wrist joints), cervical and lumbar syndrome, post-traumatic swellings and hematomas, distortions (soft tissue injuries).' | translate }}
            </p><br>
            
            <p class="klas1">
              <strong>{{"interference_currents" | translate}}</strong><br>
              {{"interference_currents_description" | translate}}
            </p><br>
            <p class="klas1">
              <strong>{{"magnetotherapy" | translate }}</strong><br>
              {{"magnetotherapy_description" | translate }}
          </p> <br>
          <p class="klas1">
              <strong>{{"sonophoresis_and_ultrasound" | translate }}</strong><br>
              {{"sonophoresis_and_ultrasound_description" | translate }}
          </p> <br>
          <p class="klas1">
            <strong>{{"diadynamic_currents" | translate }}</strong><br>
            {{"diadynamic_currents_description" | translate }}
        </p> <br>
        <p class="klas1">
            <strong>{{"transcutaneous_electrical_nerve_stimulation" | translate }}</strong><br>
            {{"transcutaneous_electrical_nerve_stimulation_description" | translate }}
        </p> <br>
        <p class="klas1">
          <strong>{{"electro_stimulation" | translate }}</strong><br>
          {{"electro_stimulation_description" | translate }}
      </p> <br>
      <p class="klas1">
          <strong>{{"electrophoresis" | translate }}</strong><br>
          {{"electrophoresis_description" | translate }}
      </p> <br>     
          </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">                
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>{{"Kinesitherapy" |translate }}</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="klas1">
            {{"kinesitherapy_text" | translate }}
            <br><br>
            <i>{{"prevention_of_damage" | translate }}</i><br><br>
            <i>{{"improvement_of_function" | translate }}</i><br><br>
            <i>{{"improvement_or_treatment_of_impairment" | translate }}</i>
        </p>
        </mat-expansion-panel>
    </mat-accordion>

  <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">                
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>{{"peloid_therapy" | translate }}</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="klas1">
          {{"peloid_therapy_description" | translate }}
          <br><br><p class="type">{{"types_of_peloid_therapy" | translate }}</p><br>
          <b>{{"peloid_bath" | translate }}</b>
          <br>{{"peloid_bath_description" | translate }}<br><br>
            
          <b>{{"peloid_wraps" | translate }}</b>
          <br>{{"peloid_wraps_description" | translate }}<br><br>
            
          <b>{{"peloid_massages" | translate }}</b>
          <br>{{"peloid_massages_description" | translate }}
      </p> <br>
      </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">                
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>{{"inhalation_therapy" | translate }}</b>
      </mat-panel-title>
  </mat-expansion-panel-header>
  <p class="klas1">
      {{"inhalation_therapy_description" | translate }}
      <br><br><p class="type">{{"types_of_inhalations" | translate }}</p><br>
      <b>{{"steam_inhalation" | translate }}</b>
      <br>{{"steam_inhalation_description" | translate }}
  </p>
    </mat-expansion-panel>
</mat-accordion>

</div>
</div>