 <!-- <section class="book">
    <div class="container flex_space">
        <div class="text">
            <h1><span>Book</span> Your Rooms</h1>
        </div>
        <div class="form">
            <form class="grid" action="https://formsubmit.co/dragananikolicsobe@gmail.com" method="POST">
                <input type="date" placeholder="Araival date">
                <input type="date" placeholder="Departure date">
                <input type="number" placeholder="Adults">
                <input type="number" placeholder="Children">
                <input type="submit" value="CHECK AVAILABILITY" placeholder="CHECK AVAILABILITY">

            </form>
        </div>
    </div>
</section>  -->
<!-- 
    visak kalendar
    <section style="width: 200px;">
    <mat-calendar></mat-calendar>
</section> -->

<!-- <div>
<full-calendar [options]="calendarOptions"></full-calendar>
</div> -->
<!-- <ng-template #template>
    <div class="modal-header bg-primary text-white">
        <h4 class="modal-title pull-left">sanskars presenty report</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden"> &times;</span>
        </button>
    </div>
    <div class="modal-body">
        sanskar has {{title}} on {{start |  date}}
    </div>
</ng-template> -->
<div class="back">
<div class="spa">
    <h1 class="aboutSpa">About Spa</h1>
    <p class="text"> 
      During drilling from October 17 to 19, 1954, on the left side of Jablanica, at a height of 470 meters, 
      a strong string of hot water over 60 °C appeared. <br>
     At a depth of 9 meters, 
      the temperature of the water was so high that further drilling was suspended. <br>
      The pressure of steam and gases helped a strong column of water to emerge from this source up to a height of 6-8 meters.
       This is how the geyser was created - the main thing for the Sijarin spa. <br>
      <br>
       The water is collected in a small concrete basin from which unused water flows. According to visitors,
        bathing under this stream has a beneficial effect on calming the nerves. <br> <br>
      Spa Sijarina is located on the slopes of the Goljak mountain.<br>
      It is 300+ kilometers away from Belgrade. The spa can be reached via the highway Belgrade - Niš - Leskovac, 
      then the regional road Leskovac - Priština. <br>
      It is surrounded by incredible hills and glades covered with lush pine and oak forests, so the air is fresh and clean.<br>
    </p>
    <p class="text">
      In Sijarinska Banja, pools and spa centers play a key role in providing relaxing experiences,
       recreation and therapeutic treatments.
       Here is an overview of the pool and spa facilities at Sijarinska Banja:<br><br>
       <strong>Pools:</strong><br><br>
        Indoor pools: <br>
        Sijarinska Banja can offer indoor pools with thermal water, offering visitors the opportunity to swim in a comfortable 
        environment all year round.<br> <br>
        Outdoor pools: <br>During the warmer months, visitors can enjoy the outdoor pools, surrounded by nature and fresh air.<br><br>

        <strong>Spa Centers:</strong><br> <br>
        Therapeutic Massages:<br>Spas often offer different types of massages,
        including classical massage, hot stone massage, aromatherapy and other techniques.<br><br>
        Saunas:<br> Saunas with thermal water provide a relaxing experience with additional therapeutic effects. 
        Visitors can use Finnish saunas, steam baths or infrared saunas.<br><br>
        There are two types of saunas:<br><br>
            <strong>Finnish sauna (dry sauna)</strong><br>
            &nbsp; &nbsp; &nbsp;   temperature 80-100 degrees<br>
            &nbsp;  &nbsp;  &nbsp;  air humidity 10-15 %<br>
            &nbsp;  &nbsp;  &nbsp; residence time 10-15 minutes<br>
            <strong>Bio sauna (aromatherapy sauna)</strong><br>
            &nbsp;  &nbsp; &nbsp;  temperature 55-75 degrees<br>
            &nbsp;  &nbsp; &nbsp;   air humidity 20-40%<br>
            &nbsp;  &nbsp; &nbsp;  stay time 10-15 minutes<br><br>

        Hydrotherapy: <br>Specialized therapies that use thermal water, hydromassage and other hydrotherapy techniques to 
        improve health and relaxation.<br><br>
        Cosmetic Treatments: <br>Spas usually offer a variety of cosmetic treatments, such as facials, manicures, pedicures, 
        and other beauty services.
    </p>
    <h1 class="MedSpr">Medicinal springs</h1>
    <p class="text"> 
        Eighteen main mineral springs used for healing purposes in this spa are located next to each other. There are all eighteen of them in an area of less than one kilometer, <br>
        and it is very interesting that each of them has different characteristics (temperature and physical-chemical composition). The temperatures of these mineral waters range in astonishing heights, <br>
        from 32 to 78°C, therefore they belong to one of the warmest waters of our country. The total number of springs discovered in this spa is 26, but the other 8 have no medicinal properties. <br>
        The most important are:<br><br>

        <strong>Spring "Raj"</strong> - Water from this spring contains sodium, fluorine, hydrocarbonate and lithium in its chemical composition. In 1936, a fountain was built at the place of its spring. <br>
        The water is constantly flowing, but not at a very high speed. It is located along the right bank of the Banjska River.<br><br>
        
        <strong>"Main spring"</strong>  - This spring is mostly used in therapeutic treatment because its water is carried directly into the bottomless baths through a thirty-meter-long channel. <br>
        The speed of water gushing is as high as 0.9 liters per second, accompanied by gases. It is tucked three meters above the water level in the river Donje Banje.<br><br>
        
        <strong>The spring "Little Geyser"</strong> - it did not get its name by chance, because it springs up like a waterfall and not constantly, but at times. <br>
        The water that gushes out in spurts like this does so every 12 to 17 minutes, throwing out between 170 and 210 liters of water.<br>
        The interesting thing is that the Small Geyser was created during an experiment regarding the connection with the Main Spring. <br>
        Then, during drilling, at a depth of twelve meters, they came across this source, which turned out to have an insignificant influence on the Main source. <br>
        This occasional ejection of water in spurts occurs due to a large amount of accumulated gases that raise the water until it bursts out together with the gases.<br><br>
        
        <strong>"Spas"</strong> spring - Back in 1936, the first fountain was built at this spring, which had a constant flow of water. <br>
        However, after a series of careless years, pollution has occurred and the water stops flowing. Nineteen years later, recapture was done and the spring is again producing water at a rate of 13 mL/s.<br>
        It is tucked away only 50 meters from the Banjska river Donje Banja.<br><br>
        
        <strong>Spring "Snežnik"</strong> - This spring was found by another drilling, in 1954, at a depth of 17 meters. Water is constantly gushing out at an enviable speed of 0.28 liters per second.<br>
        It is surrounded by beautiful hornbeams, so it is often called the "Snowman under the hornbeams".<br><br>
        
        <strong>Spring "B-4" </strong>- The spring in this spa located at the greatest depth, over 1200 meters.<br>
        A metal structure was built over this well, and water flows out of it at a rate of 33 liters per second. Hot water from this source is used to heat the hotel. It is located in Jezerište (Gornja spa).<br><br>
        
        <strong>Spring "Hisar"</strong> - During drilling at the place where a new hotel was to be built, back in 1954, at a depth of about 6 meters, a new spring was discovered. It comes out very slowly, only 11 mL/s.<br>
        Spring "Jablanica" - During drilling, at a depth of less than twelve meters, this spring was found, which gives 0.37 liters of water per second. A free-flowing fountain was also built. <br>
        It is located in Gornja Banja, not far from the "Zdravlje" spring.<br><br>
        
        <strong>Spring "Suzica"</strong> - got its name from the specificity of its origin. Unlike most springs whose water consists of underground streams, this spring is created from atmospheric water that is cleaned, <br>
        filtered and mineralized through the rocks. "Teardrop", as its ambiguous symbolic name suggests, gives only 0.005 liters per second. It is also located in the immediate vicinity of the "Zdravlje" spring, <br>
        as well as the "Jablanica" spring.<br><br>
        
        <strong>"Borovac"</strong> spring - At a depth of about ten meters, the Borovac spring was also discovered during drilling. Its water springs at a speed of 29 mL/s. <br>
        It is located in the immediate vicinity of the Spas spring.<br><br>
        
       <strong> Source "Health"</strong> - If it were not one of the healing sources that are extremely beneficial to our health, it would not bear this name. <br>
        A fountain with free flowing water was built near him, in the fifties of the last century. It is tucked under an Aragonese rock in Gornja Banja.<br><br>
        
        <strong>Three springs in "Blatište"</strong> - these springs are of great importance because of the peloid therapy that is applied in Sijarinska banja. <br>
        They are hot springs and two pools and a mud pond are filled from them.<br><br>
        
        <strong>"Inhalation Spring"</strong> - Given that this spring is located at a fairly high altitude compared to other thermo-mineral springs in this region, drilling for it was not planned. <br>
        However, quite by chance, as it usually happens, engineer Kapetanović noticed that the rock in this place was extremely warm and as if it was "sweating". <br>
        At a little less than 10 meters, during drilling, they discovered an incredible source of very hot water. Its temperature is as high as 70°C, and the flow rate is 6.8 liters per second. <br>
        It is located on the well-known slope of "Bungoj", which is said to be "alive" because various earthquakes often occur on it, which have an impact on the strength of the springing water.<br><br>
        
        <strong>"Kiseljak"</strong> spring - As its name suggests, this spring gives water that has a sour taste. Those who have drunk it say that this sour taste is actually very pleasant to drink. <br>
        A concrete well was built at the place of the spring.<br><br>
    </p>
    <h1 class="Diseases">Diseases that are treated and cured in Sijarinska Banja</h1>
    <p class="text">
        Therapies are carried out at the Institute for Specialized Rehabilitation "Sijarinska Banja" - Hotel "Geyzer".<br>
        Within this complex, there is modern equipment for various forms of therapy: <br>
    </p>
    <br>
    <div class="mat-elevation-z8">
        <h2 class="table-heading"> The waters of this spa and the therapies applied in this specialized institution help with the following types of diseases:</h2>
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Term </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Species </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[3, 5, 10, 15]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
        <br>
        <br>   
        <br>
    <p>
        In addition to healing springs, various therapies and attractive Geysers, a stay in Sijarniska Banja has something more to offer its visitors - <br><br>
        for example, the conditions here are ideal for hunting and fishing, there are many fields for small sports, a chess room, an indoor swimming pool... <br>
        There are many options for fun-recreational and sports activities. <br><br>
        Of the cultural-historical monuments, the remains of the Empress's city, that is, the imperial city of Justian Primus from the early Byzantine period, are of greater importance.<br><br>
        Sijarinska Banja is one of the richest spas in our country in terms of the number of springs,<br> it also stands out for its attractive hot water geysers, which are very rare,
        and complements its tourist offer with interesting recreational content as well as excursions of cultural and historical significance.<br>
    </p>
<br>
<br>
  <!-- lista terapije -->
  <div class="terapy">
    <h2>List of Therapies</h2>
    <ul class="ter">
      <li *ngFor="let terapija of terapije">{{ terapija }}</li>
    </ul>
  </div> <br>
  <div class="terapy">
        <h2>Description of therapies, and subtypes of therapies</h2>
  </div><br>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">                
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Hydrotherapy</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="klas1">Hydrotherapy is a therapeutic practice that uses water for a variety of purposes to improve a person's health and well-being. 
            This type of therapy is often applied in spas and wellness centers,
             and is used both for the treatment of certain conditions and for relaxation and improvement of the general state of the body.
             <br><br><p class="type">Types of hydrotherapy:</p><br>
            <b>Hot and Cold Compresses</b>
            <br>The combination of hot and cold compresses can be used to reduce swelling, alleviate pain, and improve circulation.
            Warm compresses relax muscles, while cold compresses reduce inflammation.
            <br><br>
            <b>Warm Bath</b>
            <br>A warm bath has a relaxing effect on muscles and can help reduce stress and tension.
             Adding specific ingredients such as sea salt or essential oils can enhance the therapeutic effect.
            <br><br>
            <b>Cold Shower</b> 
            <br>A cold shower can be used to stimulate circulation, reduce fatigue, and increase alertness. 
            This technique is often applied as part of a contrast treatment involving hot and cold water.
            <br><br>
            <b>Hydromassage</b>
            <br>Hydromassage involves the use of water jets under pressure to provide a body massage. 
            This can help relax muscles, improve circulation, and reduce stress.
            <br><br>
            <b>Swimming</b>
            <br>Swimming is an excellent exercise engaging various muscle groups, improving cardiovascular health, and providing a relaxing experience.
            <br><br>
            <b>Steam baths</b>
            <br> Steam baths use the heat of water vapor to open pores, cleanse the skin, and improve breathing. This type of hydrotherapy is often combined with aromatherapy.
          </p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">                
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Electrotherapy</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="klas1">Electrotherapy is the use of numerous modalities of electric current obtained by means of modern electronic devices for therapeutic purposes. 
            Electrotherapy causes the dilation (expansion) of blood vessels and increases the circulation of blood and lymph,
             which increases tissue trophicity and promotes the reabsorption of edema and the reduction of swelling. In this way, 
             the inflammatory process is reduced and helps to remove the factors that lead to pain. Electrotherapy has an analgesic effect on pain, 
             which means that it reduces pain very well, by stimulating receptors in the skin and releasing endogenous opioids, as well as by improving blood and lymph circulation. 
            It promotes the regeneration of peripheral nerves and osteogenesis (healing) in bone fractures.</p>
            <br><br><p class="type">Types of electrotherapy : </p><br>
            <P class="klas1">
              <strong>Galvanic current</strong><br>
                It is a one-way constant current that is used in painful conditions, rheumatic diseases, swelling, nerve injuries, etc. 
                Indications for the application of galvanic current are: neuralgia, neuritis, peripheral lesions and paralysis (accelerates nerve nutrition and recovery),
                periarthritis, bursitis, tendinitis, enthesopathies (inflammation of soft tissues around the joints), arthrosis, arthritis (painful knees, hips, wrist joints) ,
                cervical and lumbar syndrome, post-traumatic swellings and hematomas, distortions (soft tissue injuries).
            </P><br>
            <P class="klas1">
              <strong>interference currents</strong><br>
              Interference current (Nemetz current) is an alternating current obtained by crossing ie. by the interference of two currents of medium frequency and are also called 
              "crossed currents". They are applied by means of four electrodes of various shapes and sizes that are placed on the skin. Recently, bipolar interference currents
              applied through two electrodes have been increasingly used. The advantage of this therapeutic procedure is the deep effect in the tissues at the point where the
                currents cross (eg the hip joint). It is also the only form of electrotherapy that can be applied to patients with the presence of metal in the body
                (eg after implanting an artificial hip). The therapeutic effect on tissues is multiple: reduction of pain (analgetic effect), reduction of swelling (anti-edematous),
                  reduction of inflammation (anti-inflammatory), 
              acceleration of tissue regeneration (improves tissue oxygen supply), promotes osteogenesis, i.e. bone healing after a fracture.
            </P><br>
            <P class="klas1">
              <strong>Magnetotherapy</strong><br>
              Magnetotherapy involves the application of a constant or changing magnetic field of low frequency for therapeutic purposes.
            </P><br>
            <P class="klas1">
              <strong>Sonophoresis and ultrasound</strong><br>
              Ultrasound therapy (UZ) involves the therapeutic use of sound waves of about 1 million oscillations or 1000 kHz. The effect on the tissue is multiple.
               The basic principle of action is mechanical action, which consists in the high-frequency wave movement of sound waves, which leads to the mechanical vibration 
               of tissue particles and thus to "micromassage" of the tissue. Other effects are: expands blood vessels (vasodilatation), acts against pain (analgesic), 
               against tissue inflammation (anti-inflammatory),
               against swelling (antiedematous), reduces muscle "spasm" (spasmolytic), reduces scars (fibrinolytic), increases excitability of motor nerves .
            </P><br>
            <P class="klas1">
              <strong>Diadynamic currents (DDS)</strong><br>
              Diadynamic currents are low-frequency currents of semi-sinusoidal shape that are applied in the form of five modulations, 
              where each modulation has a specific therapeutic effect. The therapeutic effect is multiple: 
              analgesic effect (against pain), spasmolytic (reduces muscle spasm), vasodilator (normalizes impaired circulation), anti-inflammatory effect
            </P><br>
            <P class="klas1">
              <strong>Transctaneous electrical nerve stimulation(TENS)</strong><br>
              This method is one of the most effective in the fight against pain (acute or chronic), and allows the patient to control pain and thus 
              reduce the use of analgesics. The advantage of this therapy is that it can also be used in the terminal stage of malignant diseases in order to reduce pain. 
              With this therapeutic procedure, pain is treated by electrical stimulation of sensitive nerve endings at the level of the skin with an alternating low-frequency 
              pulse current, and the transmission of pain impulses to the spinal cord is blocked, that is, "pain input control" is performed. 
              The method is applied by means of electrodes that are placed on the skin above painful points, along muscles and peripheral nerves.
            </P><br>
            <P class="klas1">
              <strong>Electro-stimulation</strong><br>
              Electrostimulation is a therapeutic procedure with low-frequency currents in which stimuli of a certain intensity, 
              frequency and duration are used in order to cause muscle contraction in muscles that for certain reasons are unable to 
              function in a normal way. Muscle stimulation ie. ie contraction can be caused by electrical impulses through the motor point 
              of the muscle (the place where the nerve enters the muscle) or the motor point of the nerve (the place where the nerve trunk is the most superficial,
               closest to the surface of the skin). This method is applied by means of several types of electrodes
               - plates (for stimulation of a group of muscles at once) or point electrodes (for stimulation of individual muscles).
            </P><br>
            <P class="klas1">
              <strong>Electrophoresis</strong><br>
              Therapeutic procedure of introducing drugs into the body by means of one-way constant or one-way impulse current of medium frequency. 
              With this method, it is possible for the medicine to be introduced to the place of injury or inflammation in the shortest period of time and to work immediately. 
              This method is applied by means of electrodes that are wrapped in gauze and soaked in distilled water and evenly sprayed with a drug solution (corticosteroids, analgesics,
               antibiotics). The advantages of this therapy are the prolonged effect of the drug because a depot is created in the skin and the drug is gradually released into the tissue,
                acting in maximum concentration directly at the site of the pathological process. 
              This also avoids damage to the gastrointestinal tract and bypasses the liver's blood flow, and thus its damage.
            </P><br>         
          </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">                
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Kinesitherapy</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="klas1">Kinesitherapy, corrective therapy from (Greek: kinesis - movement, therapeio - treatment) is a type of physical therapy and a field of sports medicine, 
            which is characterized by the application of movements aligned with the therapeutic requirement and the patient as a whole. <br>
            it is essentially based on the application of exercises, based on scientific principles, which are adapted to increase the strength,<br>
            endurance and mobility of persons with functional limitations or those (athletes) who require prolonged physical fitness, and therefore its main objectives are:
            <br><br>
            <i>Prevention of damage to the function of the locomotor system</i><br><br>
            <i>Improvement of segmental and general locomotor function. The main prerequisite for achieving this goal is a good evaluation of the locomotor system.</i><br><br>
            <i>Improvement or treatment of impaired functions of the cardiovascular, respiratory and other systems</i></p>
        </mat-expansion-panel>
    </mat-accordion>

  <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">                
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Peloid therapy</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="klas1">Peloid therapy is a type of therapy that relies on the use of thermal mud, clay, 
          or other sedimentary materials in the treatment of various health problems. This type of therapy is often used in spas and spas for its potential
           therapeutic effects on the skin, muscles and joints.
          <br><br><p class="type">Types of peloid therapy:</p><br>
          <b>Peloid bath</b>
          <br>The patient is completely or partially immersed in warm water in which sedimentary materials such as mud or clay have been dissolved.
           This bath can have a positive effect on circulation, relaxing muscles and improving skin texture.<br><br>
          
          <b>Peloid wraps</b>
          <br>Warm peloid wraps are applied directly to specific areas of the body that require treatment. This can help reduce pain,
           swelling and improve local circulation.<br><br>
          
          <b>Peloid massages</b>
          <br> The therapist can use peloid preparations during the massage to enhance the therapeutic effects. This is often used in 
          combination with other forms of therapy.
        </p>
      </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">                
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Inhalation therapy</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="klas1">Inhalation therapy is a form of treatment that involves the inhalation of various substances, such as medicinal vapors, 
        to provide therapeutic benefits, especially for respiratory conditions. <br>
        This type of therapy is commonly used in spa and health resorts to address respiratory issues and promote overall well-being.
        <br><br><p class="type">Types of inhalations:</p><br>
        <b>Steam Inhalation</b>
        <br> In this method, individuals inhale steam generated from hot water.
         It can help soothe respiratory passages, alleviate congestion, and provide relief from conditions such as colds and sinusitis.
      </p>
    </mat-expansion-panel>
</mat-accordion>

</div>
</div>