
<div class="back">
<div class="spa">
    <h1 class="aboutSpa">{{"About Spa" | translate}}</h1>
    <p class="text" [innerHTML]="'PARAGRAPH6' | translate"></p>
   
    <p class="text">
      {{ 'SIJARINSKA_BANJA_DESCRIPTION' | translate }}<br><br>
      <strong>{{ 'POOLS_TITLE' | translate }}:</strong><br><br>
        {{ 'INDOOR_POOLS_DESCRIPTION' | translate }}<br><br>
        {{ 'OUTDOOR_POOLS_DESCRIPTION' | translate }}<br><br>

      <strong>{{ 'SPA_CENTERS_TITLE' | translate }}:</strong><br> <br>
        {{ 'THERAPEUTIC_MASSAGES_DESCRIPTION' | translate }}<br><br>
        {{ 'SAUNAS_DESCRIPTION' | translate }}<br><br>
        {{ 'SAUNAS_TYPES_DESCRIPTION' | translate }}<br><br>
            <strong>{{ 'FINNISH_SAUNA_TITLE' | translate }}</strong><br>
            &nbsp; &nbsp; &nbsp;   {{ 'FINNISH_SAUNA_TEMPERATURE' | translate }}<br>
            &nbsp;  &nbsp;  &nbsp;  {{ 'FINNISH_SAUNA_HUMIDITY' | translate }}<br>
            &nbsp;  &nbsp;  &nbsp; {{ 'FINNISH_SAUNA_RESIDENCE_TIME' | translate }}<br>
            <strong>{{ 'BIO_SAUNA_TITLE' | translate }}</strong><br>
            &nbsp;  &nbsp; &nbsp;  {{ 'BIO_SAUNA_TEMPERATURE' | translate }}<br>
            &nbsp;  &nbsp; &nbsp;  {{ 'BIO_SAUNA_HUMIDITY' | translate }}<br>
            &nbsp;  &nbsp; &nbsp;  {{ 'BIO_SAUNA_STAY_TIME' | translate }}<br><br>

        {{ 'HYDROTHERAPY_DESCRIPTION' | translate }}<br><br>
        {{ 'COSMETIC_TREATMENTS_DESCRIPTION' | translate }}
</p>

<h1 class="MedSpr">{{ 'MEDICINAL_SPRINGS_TITLE' | translate }}</h1>
<p class="text"> 
    {{ 'MEDICINAL_SPRINGS_DESCRIPTION' | translate }} <br>
    {{ 'MEDICINAL_SPRINGS_DETAILS' | translate }}<br><br>

    <strong>{{ 'RAJ_SPRING_TITLE' | translate }}</strong> - {{ 'RAJ_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'RAJ_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'MAIN_SPRING_TITLE' | translate }}</strong> - {{ 'MAIN_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'MAIN_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'LITTLE_GEYSER_SPRING_TITLE' | translate }}</strong> - {{ 'LITTLE_GEYSER_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'LITTLE_GEYSER_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'SPAS_SPRING_TITLE' | translate }}</strong> - {{ 'SPAS_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'SPAS_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'SNEZNIK_SPRING_TITLE' | translate }}</strong> - {{ 'SNEZNIK_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'SNEZNIK_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'B4_SPRING_TITLE' | translate }}</strong> - {{ 'B4_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'B4_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'HISAR_SPRING_TITLE' | translate }}</strong> - {{ 'HISAR_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'HISAR_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'JABLANICA_SPRING_TITLE' | translate }}</strong> - {{ 'JABLANICA_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'JABLANICA_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'SUZICA_SPRING_TITLE' | translate }}</strong> - {{ 'SUZICA_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'SUZICA_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'BOROVAC_SPRING_TITLE' | translate }}</strong> - {{ 'BOROVAC_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'BOROVAC_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'HEALTH_SPRING_TITLE' | translate }}</strong> - {{ 'HEALTH_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'HEALTH_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'BLATISTE_SPRINGS_TITLE' | translate }}</strong> - {{ 'BLATISTE_SPRINGS_DESCRIPTION' | translate }}<br><br>
    
    <strong>{{ 'INHALATION_SPRING_TITLE' | translate }}</strong> - {{ 'INHALATION_SPRING_DESCRIPTION' | translate }}<br>
    {{ 'INHALATION_SPRING_LOCATION' | translate }}<br><br>
    
    <strong>{{ 'KISELJAK_SPRING_TITLE' | translate }}</strong> - {{ 'KISELJAK_SPRING_DESCRIPTION' | translate }}<br><br>
</p>

<h1 class="Diseases">{{ "Diseases Treated and Cured in Sijarinska Banja" | translate }}</h1>
<p class="text">
    {{ "Therapies are conducted at the Institute for Specialized Rehabilitation 'Sijarinska Banja' - Hotel 'Geyzer'." | translate }}<br>
    {{ "Within this complex, there is modern equipment for various forms of therapy:" | translate }}
</p>

    <br>
    <div class="mat-elevation-z8">
      <h2 class="table-heading">{{ 'The waters of this spa and the therapies applied in this specialized institution help with the following types of diseases:' | translate }}</h2>
      <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> {{ element.position }} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> {{ 'Term' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{ element.name |translate}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> {{ 'Species' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{ element.symbol | translate}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[3, 5, 10, 15]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
  </div>
        <br>
        <br>   
        <br>
        <div class="textcontainer">
          <p [innerHTML]="'PARAGRAPH7' | translate"></p>
      </div>
<br>
<br>
  <!-- lista terapije -->
  <div class="terapy">
    <h2>List of Therapies</h2>
    <ul class="ter">
      <li *ngFor="let terapija of terapije">{{ terapija }}</li>
    </ul>
  </div> <br>
  <div class="terapy">
        <h2>Description of therapies, and subtypes of therapies</h2>
  </div><br>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">                
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Hydrotherapy</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="klas1">Hydrotherapy is a therapeutic practice that uses water for a variety of purposes to improve a person's health and well-being. 
            This type of therapy is often applied in spas and wellness centers,
             and is used both for the treatment of certain conditions and for relaxation and improvement of the general state of the body.
             <br><br><p class="type">Types of hydrotherapy:</p><br>
            <b>Hot and Cold Compresses</b>
            <br>The combination of hot and cold compresses can be used to reduce swelling, alleviate pain, and improve circulation.
            Warm compresses relax muscles, while cold compresses reduce inflammation.
            <br><br>
            <b>Warm Bath</b>
            <br>A warm bath has a relaxing effect on muscles and can help reduce stress and tension.
             Adding specific ingredients such as sea salt or essential oils can enhance the therapeutic effect.
            <br><br>
            <b>Cold Shower</b> 
            <br>A cold shower can be used to stimulate circulation, reduce fatigue, and increase alertness. 
            This technique is often applied as part of a contrast treatment involving hot and cold water.
            <br><br>
            <b>Hydromassage</b>
            <br>Hydromassage involves the use of water jets under pressure to provide a body massage. 
            This can help relax muscles, improve circulation, and reduce stress.
            <br><br>
            <b>Swimming</b>
            <br>Swimming is an excellent exercise engaging various muscle groups, improving cardiovascular health, and providing a relaxing experience.
            <br><br>
            <b>Steam baths</b>
            <br> Steam baths use the heat of water vapor to open pores, cleanse the skin, and improve breathing. This type of hydrotherapy is often combined with aromatherapy.
          </p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">                
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Electrotherapy</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="klas1">Electrotherapy is the use of numerous modalities of electric current obtained by means of modern electronic devices for therapeutic purposes. 
            Electrotherapy causes the dilation (expansion) of blood vessels and increases the circulation of blood and lymph,
             which increases tissue trophicity and promotes the reabsorption of edema and the reduction of swelling. In this way, 
             the inflammatory process is reduced and helps to remove the factors that lead to pain. Electrotherapy has an analgesic effect on pain, 
             which means that it reduces pain very well, by stimulating receptors in the skin and releasing endogenous opioids, as well as by improving blood and lymph circulation. 
            It promotes the regeneration of peripheral nerves and osteogenesis (healing) in bone fractures.</p>
            <br><br><p class="type">Types of electrotherapy : </p><br>
            <P class="klas1">
              <strong>Galvanic current</strong><br>
                It is a one-way constant current that is used in painful conditions, rheumatic diseases, swelling, nerve injuries, etc. 
                Indications for the application of galvanic current are: neuralgia, neuritis, peripheral lesions and paralysis (accelerates nerve nutrition and recovery),
                periarthritis, bursitis, tendinitis, enthesopathies (inflammation of soft tissues around the joints), arthrosis, arthritis (painful knees, hips, wrist joints) ,
                cervical and lumbar syndrome, post-traumatic swellings and hematomas, distortions (soft tissue injuries).
            </P><br>
            <P class="klas1">
              <strong>interference currents</strong><br>
              Interference current (Nemetz current) is an alternating current obtained by crossing ie. by the interference of two currents of medium frequency and are also called 
              "crossed currents". They are applied by means of four electrodes of various shapes and sizes that are placed on the skin. Recently, bipolar interference currents
              applied through two electrodes have been increasingly used. The advantage of this therapeutic procedure is the deep effect in the tissues at the point where the
                currents cross (eg the hip joint). It is also the only form of electrotherapy that can be applied to patients with the presence of metal in the body
                (eg after implanting an artificial hip). The therapeutic effect on tissues is multiple: reduction of pain (analgetic effect), reduction of swelling (anti-edematous),
                  reduction of inflammation (anti-inflammatory), 
              acceleration of tissue regeneration (improves tissue oxygen supply), promotes osteogenesis, i.e. bone healing after a fracture.
            </P><br>
            <P class="klas1">
              <strong>Magnetotherapy</strong><br>
              Magnetotherapy involves the application of a constant or changing magnetic field of low frequency for therapeutic purposes.
            </P><br>
            <P class="klas1">
              <strong>Sonophoresis and ultrasound</strong><br>
              Ultrasound therapy (UZ) involves the therapeutic use of sound waves of about 1 million oscillations or 1000 kHz. The effect on the tissue is multiple.
               The basic principle of action is mechanical action, which consists in the high-frequency wave movement of sound waves, which leads to the mechanical vibration 
               of tissue particles and thus to "micromassage" of the tissue. Other effects are: expands blood vessels (vasodilatation), acts against pain (analgesic), 
               against tissue inflammation (anti-inflammatory),
               against swelling (antiedematous), reduces muscle "spasm" (spasmolytic), reduces scars (fibrinolytic), increases excitability of motor nerves .
            </P><br>
            <P class="klas1">
              <strong>Diadynamic currents (DDS)</strong><br>
              Diadynamic currents are low-frequency currents of semi-sinusoidal shape that are applied in the form of five modulations, 
              where each modulation has a specific therapeutic effect. The therapeutic effect is multiple: 
              analgesic effect (against pain), spasmolytic (reduces muscle spasm), vasodilator (normalizes impaired circulation), anti-inflammatory effect
            </P><br>
            <P class="klas1">
              <strong>Transctaneous electrical nerve stimulation(TENS)</strong><br>
              This method is one of the most effective in the fight against pain (acute or chronic), and allows the patient to control pain and thus 
              reduce the use of analgesics. The advantage of this therapy is that it can also be used in the terminal stage of malignant diseases in order to reduce pain. 
              With this therapeutic procedure, pain is treated by electrical stimulation of sensitive nerve endings at the level of the skin with an alternating low-frequency 
              pulse current, and the transmission of pain impulses to the spinal cord is blocked, that is, "pain input control" is performed. 
              The method is applied by means of electrodes that are placed on the skin above painful points, along muscles and peripheral nerves.
            </P><br>
            <P class="klas1">
              <strong>Electro-stimulation</strong><br>
              Electrostimulation is a therapeutic procedure with low-frequency currents in which stimuli of a certain intensity, 
              frequency and duration are used in order to cause muscle contraction in muscles that for certain reasons are unable to 
              function in a normal way. Muscle stimulation ie. ie contraction can be caused by electrical impulses through the motor point 
              of the muscle (the place where the nerve enters the muscle) or the motor point of the nerve (the place where the nerve trunk is the most superficial,
               closest to the surface of the skin). This method is applied by means of several types of electrodes
               - plates (for stimulation of a group of muscles at once) or point electrodes (for stimulation of individual muscles).
            </P><br>
            <P class="klas1">
              <strong>Electrophoresis</strong><br>
              Therapeutic procedure of introducing drugs into the body by means of one-way constant or one-way impulse current of medium frequency. 
              With this method, it is possible for the medicine to be introduced to the place of injury or inflammation in the shortest period of time and to work immediately. 
              This method is applied by means of electrodes that are wrapped in gauze and soaked in distilled water and evenly sprayed with a drug solution (corticosteroids, analgesics,
               antibiotics). The advantages of this therapy are the prolonged effect of the drug because a depot is created in the skin and the drug is gradually released into the tissue,
                acting in maximum concentration directly at the site of the pathological process. 
              This also avoids damage to the gastrointestinal tract and bypasses the liver's blood flow, and thus its damage.
            </P><br>         
          </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">                
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Kinesitherapy</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="klas1">Kinesitherapy, corrective therapy from (Greek: kinesis - movement, therapeio - treatment) is a type of physical therapy and a field of sports medicine, 
            which is characterized by the application of movements aligned with the therapeutic requirement and the patient as a whole. <br>
            it is essentially based on the application of exercises, based on scientific principles, which are adapted to increase the strength,<br>
            endurance and mobility of persons with functional limitations or those (athletes) who require prolonged physical fitness, and therefore its main objectives are:
            <br><br>
            <i>Prevention of damage to the function of the locomotor system</i><br><br>
            <i>Improvement of segmental and general locomotor function. The main prerequisite for achieving this goal is a good evaluation of the locomotor system.</i><br><br>
            <i>Improvement or treatment of impaired functions of the cardiovascular, respiratory and other systems</i></p>
        </mat-expansion-panel>
    </mat-accordion>

  <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">                
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Peloid therapy</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="klas1">Peloid therapy is a type of therapy that relies on the use of thermal mud, clay, 
          or other sedimentary materials in the treatment of various health problems. This type of therapy is often used in spas and spas for its potential
           therapeutic effects on the skin, muscles and joints.
          <br><br><p class="type">Types of peloid therapy:</p><br>
          <b>Peloid bath</b>
          <br>The patient is completely or partially immersed in warm water in which sedimentary materials such as mud or clay have been dissolved.
           This bath can have a positive effect on circulation, relaxing muscles and improving skin texture.<br><br>
          
          <b>Peloid wraps</b>
          <br>Warm peloid wraps are applied directly to specific areas of the body that require treatment. This can help reduce pain,
           swelling and improve local circulation.<br><br>
          
          <b>Peloid massages</b>
          <br> The therapist can use peloid preparations during the massage to enhance the therapeutic effects. This is often used in 
          combination with other forms of therapy.
        </p>
      </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">                
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Inhalation therapy</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="klas1">Inhalation therapy is a form of treatment that involves the inhalation of various substances, such as medicinal vapors, 
        to provide therapeutic benefits, especially for respiratory conditions. <br>
        This type of therapy is commonly used in spa and health resorts to address respiratory issues and promote overall well-being.
        <br><br><p class="type">Types of inhalations:</p><br>
        <b>Steam Inhalation</b>
        <br> In this method, individuals inhale steam generated from hot water.
         It can help soothe respiratory passages, alleviate congestion, and provide relief from conditions such as colds and sinusitis.
      </p>
    </mat-expansion-panel>
</mat-accordion>

</div>
</div>